backend/node_modules
backend/.env
backend/.gitignore
backend/keys/
backend/certs/

frontend/node_modules
frontend/.env
frontend/.gitignore
frontend/keys/
frontend/certs/

keys/*.key
certs/*.crt
certs/*.csr
client_keys/*.key
client_certs/*.crt
client_certs/*.csr