backend/node_modules
backend/.env
backend/.gitignore
backend/keys/
backend/certs/

frontend/node_modules
frontend/.env
frontend/.gitignore
frontend/keys/
frontend/certs/

keys/*
certs/*
client_keys/*
client_certs/*